body {
    margin: 0;
    padding: 0;


    .board {
        width: fit-content;
        height: fit-content;
        display: flex;
        margin:0;
        padding:0;

        .incomplete-number {
            padding:0;
            height: 35px;
            width: 35px;
            font-size: 8px;
            text-align: center;
            line-height: 35px;
            border: 1px solid rgb(22, 22, 22);
            background-color: rgb(230, 218, 218);
        }
        .complete-number {
            padding:0;
            height: 35px;
            width: 35px;
            font-size: 8px;
            text-align: center;
            line-height: 35px;
            border: 1px solid rgb(22, 22, 22);
            background-color: rgb(109, 106, 106);
        }

        .row-nums {
            display: flex;
            float: left;
            flex-direction: column;
            width: fit-content;
        }
    
        .col-nums{
            display: flex;
            float:inline-start;
            flex-direction: row;
            height: fit-content;
        }

        .game-board {
            height:fit-content;
            width: fit-content;
            display: flex;
            flex-direction: column;
            
            .board-row {
                padding:0;
                margin:0;
                height: fit-content;
                width: fit-content;
                display: flex;
                flex-direction: row;
        
                button {
                    padding:0;
                    height: 37px;
                    width: 37px;
                    border: .25px solid rgb(22, 22, 22);
                }
                .true-square {
                    background-color: rgb(34, 33, 33);
                }
                .false-square, .x-square {
                    background-color: rgb(230, 218, 218);
                }
            }
        }
    }
}
